main {
  display: flex;
  margin-top: 50px;
  padding: 20px;
  flex-direction: column;
}

.tool-bar {
  display: flex;
  align-items: center;
  margin: var(--margin);
  justify-content: space-between;
  border-bottom: solid 1px black;
}

.filter {
  display: flex;
  gap: 10px;
}

.tool-bar * {
  font-size: clamp(16px, 2vw, 20px);
}
.status {
  cursor: pointer;
}
.active {
  color: red;
  text-shadow: 1px 0px 10px blue;
}
.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: max-content;
  gap: 10px;
  margin: var(--margin);
  margin-top: 20px;
  border: 1px solid black;
  background: var(--primary-color);
  justify-items: center;
  padding: 20px;
  min-height: 60vh;
}
