header {
  display: flex;
  background: var(--primary-color);
  padding: 20px;
}

.header-content {
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: var(--margin);
}

.header__title {
  display: flex;
  align-items: center;
}
.header__title h1 {
  font-size: clamp(20px, 4vw, 32px);
}
@media (max-width: 700px) {
  .header__title img {
    width: 40px;
    height: 20px;
  }
}

.button {
  font-weight: bolder;
  font-size: clamp(12px, 4vw, 32px);
  cursor: pointer;
  border: black;
}

.button:hover {
  transform: scale(1.3);
}
