header {
  display: flex;
  padding: 20px 20px;
  background: linear-gradient(to right, rgb(0, 119, 184), rgb(0, 52, 80));
}

.header-content {
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.header__title {
  display: flex;
  align-items: center;
}
.header__title h1 {
  font-size: clamp(20px, 4vw, 32px);
}
@media (max-width: 700px) {
  .header__title img {
    width: 40px;
    height: 20px;
  }
}

.button {
  font-weight: bolder;
  font-size: clamp(12px, 2vw, 25px);
  cursor: pointer;
  border: black;
}

.button:hover {
  transform: scale(1.3);
}
