@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-color: linear-gradient(to right, rgb(0, 119, 184), rgb(0, 52, 80));
  --margin: 0 10vw 0 10vw;
}

@media (max-width: 400px) {
  :root {
    --margin: 0 0 0 0;
  }
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}
